.editor-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* Custom styles for the Monaco editor */
.monaco-editor .editor-widget {
  z-index: 50 !important;
}

/* Ensure the editor container takes up the full height */
.monaco-editor,
.monaco-editor .overflow-guard {
  width: 100% !important;
  height: 100% !important;
}