#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media (max-width: 768px) {
  :root {
    --font-size-xs: 0.75rem;    /* 12px */
    --font-size-sm: 0.875rem;  
    --font-size-md: 1rem;       
    --font-size-lg: 1.125rem;   
    --font-size-xl: 1.25rem;    
  }
}

@media (min-width: 1440px) {
  :root {
    --font-size-xs: 1rem;       
    --font-size-sm: 1.125rem;   
    --font-size-md: 1.25rem;    
    --font-size-lg: 1.5rem;     
    --font-size-xl: 1.75rem;
  }
}
